@tailwind base;
@tailwind components;
@tailwind utilities;
/* project no-01 (color-flipper) */
nav ul li a.active {
  @apply text-red-500;
}
nav ul li a::after {
  content: "";
  transform: scale(0);
  @apply absolute left-0 right-0 bottom-0  h-0.5 bg-cyan-500 transition-all duration-300;
}
nav ul li a.active::after,
nav ul li a:hover::after {
  transform: scale(1);
}

/* project no -07 (questions) */
.question-text {
  @apply hidden;
}

.show-text .question-text {
  @apply block;
}

.minus-icon {
  @apply hidden;
}

.show-text .minus-icon {
  @apply inline;
}

.show-text .plus-icon {
  @apply hidden;
}

.bg {
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(/10-scroll/bg_pic.jpeg);
  background-size: 100vw 100vh;
}

.show-links {
  height: 100px;
}

.sec-h {
  height: 80vh;
}
